<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VirtualShareTrading</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertUserServlet</display-name>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>com.control.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/InsertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.control.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.control.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.control.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.control.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertShareServlet</display-name>
    <servlet-name>InsertShareServlet</servlet-name>
    <servlet-class>com.control.InsertShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertShareServlet</servlet-name>
    <url-pattern>/InsertShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShareServlet</display-name>
    <servlet-name>UpdateShareServlet</servlet-name>
    <servlet-class>com.control.UpdateShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShareServlet</servlet-name>
    <url-pattern>/UpdateShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserShareServlet</display-name>
    <servlet-name>DisplayUserShareServlet</servlet-name>
    <servlet-class>com.control.DisplayUserShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserShareServlet</servlet-name>
    <url-pattern>/DisplayUserShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseShareServlet</display-name>
    <servlet-name>PurchaseShareServlet</servlet-name>
    <servlet-class>com.control.PurchaseShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseShareServlet</servlet-name>
    <url-pattern>/PurchaseShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewShare</display-name>
    <servlet-name>ViewShare</servlet-name>
    <servlet-class>com.control.ViewShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewShare</servlet-name>
    <url-pattern>/ViewShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellShare</display-name>
    <servlet-name>SellShare</servlet-name>
    <servlet-class>com.control.SellShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellShare</servlet-name>
    <url-pattern>/SellShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetailsServlet</display-name>
    <servlet-name>UpdateUserDetailsServlet</servlet-name>
    <servlet-class>com.control.UpdateUserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetailsServlet</servlet-name>
    <url-pattern>/UpdateUserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServletUser</display-name>
    <servlet-name>DisplayServletUser</servlet-name>
    <servlet-class>com.control.DisplayServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServletUser</servlet-name>
    <url-pattern>/DisplayServletUser</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>